@page "/EmailTemplate"

<h1> A Bladder Is About To Expire </h1>

<p>you are receiving this mail because the bladder with the code :  code here , is abount to expire</p>
<p>please take the necessary precautions</p>

<div><span>please do not try to reply to this email, if you need any help please contact your technical support</span></div>
<div><span>Wanna go to the Bladder Application?</span>   <a href="https://localhost:44374/">click Here</a></div>
