@page "/"

@inherits BladderComponentBase

<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                @L["Welcome_Title"]
            </h5>
        </div>
            <div class="card-body">
                <p class="card-text">
                @L["Welcome_Text"]
                </p>
            </div>
            
        
    </div>

    
</div>
