body {
    
}
/* for dim and dark theme styles */
:root .lpx-theme-dim, :root .lpx-theme-dark {
    --lpx-logo: url("images/logo/logo-light.png");
    --lpx-logo-icon: url("images/logo/logo-light-thumbnail.png")
}

/* for light theme style */
:root .lpx-theme-light, :root .lpx-brand-logo {
    --lpx-logo: url("images/logo/logo-dark.png");
    --lpx-logo-icon: url("/images/logo/logo-dark-thumbnail.png");
}
.lpx-brand-logo {
    --lpx-logo: url("images/logo/logo-dark.png");
    --lpx-logo-icon: url("/images/logo/logo-dark-thumbnail.png");
}